<div class="row">
  <h1>Pesticides Alerts</h1>
  <h3>Import Alert 99-08: Detention Without Physical Examination Of Processed Foods for Pesticides</h3>
</div>

<div class="row">
  <div class="col-sm-12 col-md-8 offset-md-2">
    <% @companies.each do |company| %>
    <div class='panel panel-default'>
      <div class="panel-heading">
        <strong><%= company.name %></strong>
        <div class="pull-right">
          <span class="badge"><%= company.products_count %></span> <%= "product".pluralize(company.products_count) %>
        </div><br>
        <small><%= company.address.gsub(",", '<br />').html_safe %></small>
      </div>
        
      <% company.products.each do |product| %>
        <ul class='list-group'>
          <li class='list-group-item'><%= link_to("#{format_product_name product.name}", product_path(product)) + " | #{product.date_published.strftime("%m/%d/%Y")}"%></li>
        </ul>
      <% end %>
    </div>
    <% end %>
  </div>
</div>

<div class="row">
<p>Data collected from the <%= link_to 'FDA site', "http://www.accessdata.fda.gov/cms_ia/importalert_259.html"%>.</p>
</div>